<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Athena - Vulnerability Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .chart-container {
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            padding: 10px;
            margin-bottom: 20px;
        }
        .chart-label {
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
        }
        header {
            text-align: center;
            padding: 20px 0;
        }
        .header-content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <h1>Athena Vulnerability Dashboard</h1>
            </div>
        </header>
        <div class="charts">
            <div class="chart-container">
                <div id="cve-chart" class="chart"></div>
                <div class="chart-label">CVE Proportion</div>
            </div>
            <div class="chart-container">
                <div id="severity-chart" class="chart"></div>
                <div class="chart-label">Severity Proportion</div>
            </div>
            <div class="chart-container">
                <div id="source-chart" class="chart"></div>
                <div class="chart-label">Source Proportion</div>
            </div>
            <div class="chart-container">
                <div id="trend-chart" class="chart"></div>
                <div class="chart-label">Vulnerability Trends (Last 7 Days)</div>
            </div>
        </div>
        <div class="latest-vulnerabilities">
            <h2>Latest 10 Vulnerabilities</h2>
            <table id="vulnerability-table" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>CVE</th>
                        <th>Severity</th>
                        <th>Description</th>
                        <th>Source</th>
                        <th>Date</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vulnerability in latest_vulnerabilities %}
                    <tr>
                        <td class="tooltip-cell" title="{{ vulnerability.name }}">{{ vulnerability.name }}</td>
                        <td class="tooltip-cell" title="{{ vulnerability.cve }}">{{ vulnerability.cve }}</td>
                        <td class="tooltip-cell" title="{{ vulnerability.severity }}">{{ vulnerability.severity }}</td>
                        <td class="tooltip-cell" title="{{ vulnerability.description }}">{{ vulnerability.description }}</td>
                        <td class="tooltip-cell" title="{{ vulnerability.source }}">{{ vulnerability.source }}</td>
                        <td class="tooltip-cell" title="{{ vulnerability.date }}">{{ vulnerability.date }}</td>
                        <td class="tooltip-cell" title="{{ vulnerability.link }}"><a href="{{ vulnerability.link }}" target="_blank">Link</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
    // ECharts initialization and data setup
    var cveChart = echarts.init(document.getElementById('cve-chart'));
    var severityChart = echarts.init(document.getElementById('severity-chart'));
    var sourceChart = echarts.init(document.getElementById('source-chart'));
    var trendChart = echarts.init(document.getElementById('trend-chart'));

    var cveData = {{ cve_data|tojson }};
    var severityData = {{ severity_data|tojson }};
    var sourceData = {{ source_data|tojson }};
    var trendData = {{ trend_data|tojson }};

    cveChart.setOption({
        title: { text: 'CVE Proportion' },
        tooltip: { trigger: 'item' },
        series: [{
            name: 'CVE Proportion',
            type: 'pie',
            data: [
                { value: cveData.cve_count, name: 'CVE' },
                { value: cveData.total - cveData.cve_count, name: 'Non-CVE' }
            ]
        }]
    });

    severityChart.setOption({
        title: { text: 'Severity Proportion' },
        tooltip: { trigger: 'item' },
        series: [{
            name: 'Severity Proportion',
            type: 'pie',
            data: [
                { value: severityData.critical_count, name: 'Critical' },
                { value: severityData.high_count, name: 'High' },
                { value: severityData.medium_count, name: 'Medium' },
                { value: severityData.low_count, name: 'Low' },
                { value: severityData.none_count, name: 'None' }
            ]
        }]
    });

    var sourceNames = sourceData.map(item => item.source);
    var sourceCounts = sourceData.map(item => item.count);
    sourceChart.setOption({
        title: { text: 'Source Proportion' },
        tooltip: { trigger: 'item' },
        xAxis: {
            type: 'category',
            data: sourceNames,
            axisLabel: {
                interval: 0, // 显示所有标签
                rotate: 45 // 标签旋转角度
            }
        },
        yAxis: { type: 'value' },
        series: [{ type: 'bar', data: sourceCounts }]
    });


    var trendDates = trendData.map(item => item.date);
    var trendCounts = trendData.map(item => item.count);
    var formattedDates = trendDates.map(dateStr => {
    var date = new Date(dateStr);
    return `${getDayName(date.getDay())}, ${date.getDate()} ${getMonthName(date.getMonth())} ${date.getFullYear()}`;
});

    function getDayName(day) {
    var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    return days[day];
    }

    function getMonthName(month) {
        var months = [
            'Jan', 'Feb', 'Mar', 'Apr',
            'May', 'Jun', 'Jul', 'Aug',
            'Sep', 'Oct', 'Nov', 'Dec'
        ];
        return months[month];
    }
    trendChart.setOption({
    title: { text: 'Vulnerability Trends (Last 7 Days)' },
    tooltip: { trigger: 'axis' },
    xAxis: {
        type: 'category',
        data: formattedDates,
        axisLabel: {
            interval: 0,
            rotate: 45
        }
    },
    yAxis: { type: 'value' },
    series: [{ type: 'line', data: trendCounts }]
});
    </script>

</body>
</html>
